<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>

<%= markdown '#Checks status overview' %>

<% if checker.numActive == 0 %>
<%= markdown "Currently *no* checks are active!

Start one by opening a Pull-Request in a connected repository. Send a PR-Webhook to /ci/receive" %>
<% else %>
  <table>
  	<tr> <th> Repo </th> <th> Commit </th> <th> Check </th> </tr>
  <% checker.each do |rInfo,check| %>
    <tr>
      <td><%= rInfo[:owner] %>/<%= rInfo[:repo] %></td>
      <td><%= rInfo[:commit] %></td>
      <td><%= check.name %></td>
    </tr>
  <% end %>
  </table>

<% end %>
